fastapi~=0.115.13
uvicorn
pyodbc
python-dotenv
sqlmodel~=0.0.24
jose~=1.0.0
python-jose~=3.5.0
pydantic-settings~=2.10.1
python-multipart
jwt~=1.4.0
boto3~=1.38.46
botocore~=1.38.46
SQLAlchemy~=2.0.41
starlette~=0.46.2
pydantic~=2.11.7